
<h2>Welcome to the candy shop</h2>
....that's totally not out the back of my van, trust me, I have a candy

<form action="Result" method="get">
    <p>Skittles <input type="radio" name="CandyName" value="Skittles" /></p>
    <p>Airheads <input type="radio" name="CandyName" value="Airheads"/></p>
    <p>M&Ms <input type="radio" name="CandyName" value="MMs" /> </p>

    <input type="submit"/>

</form>