<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9320b6de-3d61-47ae-b709-1962309066da/resourcegroups/APIwithEntity20181130094803ResourceGroup/providers/Microsoft.Web/sites/TommysCoolAPI</ResourceId>
    <ResourceGroup>APIwithEntity20181130094803ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tommyscoolapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tommyscoolapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TommysCoolAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TommysCoolAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="APIwithEntity.Models.CarContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sqlcars.database.windows.net;Initial Catalog=cars;Persist Security Info=True;User ID=tommy;Password=waalkes1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="APIwithEntity.Models.CarContext, APIwithEntity" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="APIwithEntity.Models.CarContext-Web.config Connection String">
      <ParameterValue>Data Source=sqlcars.database.windows.net;Initial Catalog=cars;Persist Security Info=True;User ID=tommy;Password=waalkes1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="APIwithEntity.Models.CarContext" />
  </ItemGroup>
</Project>