<p>Hello There here is the login page</p>

<form action="Result" method="get">
    <p>Name</p><input name="Name"/>
    <p>Password</p><input name="Password" type="password"/>
    <p>Age</p><input type="number" name="Age" min="0" max="120"/>

    <input type="submit"/>
</form>