
@{
    ViewBag.Title = "View";
    ViewBag.Message = "This is my message overwrite";
}

<h2>Example</h2>
<h2>@ViewBag.Message</h2>
<p>@ViewBag.Title</p>
<p>This sure is a killer example</p>

<link href="~/Content/bootstrap.css" rel="stylesheet" />