
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>Welcome to the secret fish page</p>
<p>This a super cearl secret, tell it to no one!!!!!!!11!!</p>
<p>Fish wish 4 bubbles 1985</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/RbKr-k1PTvA" frameborder="0" allowfullscreen></iframe>

<img src="~/Content/9160340619_30eef6619c_b.jpg" />
<img src="~/Content/bio0d2dcyaewctn.jpg" />
<img src="~/Content/mystyle_2015-11-27_657_62624_web_1.jpg" />
<img src="~/Content/i-haveseen-asecurity-hologram-of-anakin-killing-yuenglings.png" />