
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<p>There are a myriad of ways to tackle validation</p>

<p>Here are three of the most common in MVC.Net:</p>

<ul>
    <li>1. HTML5 form options</li>
    <li>2. Tags </li>
    <li></li>
</ul>

