
<h2>@TempData["Error"]</h2>
<form action="Login">
    <p>User Name:</p>
    <input name="Name" placeholder="User Name"/>
    <br />
    <p>Password</p>
    <input name="Password" type="password" placeholder="Password"/>
</form>