<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add name="fruitEntities" providerName="System.Data.SqlClient" connectionString="Server=tcp:grandcircus.database.windows.net,1433;Initial Catalog=fruit2;Persist Security Info=False;User ID=tommy;Password=Waalkes69;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>
