

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p style="background-color: hotpink">Hey you found the secret chicken page</p>
        <p style="background-color: tomato"> Jimmney Cricket stole my kfc</p>
    </div>
</body>
</html>
