@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to ASP.Net!</h2>

<p>Your world is about to get a lot bigger!</p>

<p>In .Net you'll spend a bulk of your time in your controller</p>

@ViewBag.Hello